################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RaytracerCuda/v15
/Raytracer/x64/Debug
/Raytracer/x64/Release
/TestProgram/x64/Debug
/TestProgram/x64/Release
/x64
/Report20180710-1559.vspx
/Report20180710-1554.vspx
/Report20180710-1547.vspx
/vc140.pdb
*.vspx
*.pdb
/Raytracer/x64/Profile
/TestProgram/x64/Profile
